<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>值班啦 - 管理系统</title>
    <link rel="stylesheet" href="../../css/admin/login.css">
</head>
<body>
    <div class="loginBox">
        <h1 class="logo">&nbsp;</h1>
        <form method="POST" action="" id="picForm">
            <p><input type="text" name="username" placeholder="用户名" value="" class="username"></p>
            <p><input type="password" name="password" placeholder="密码" value="" class="password"></p>
            <input type="submit" name="dosubmit" value="登录" class="loginBtn">
        </form>
    </div>
</body>
</html>