<ul class="sidebarList">
    <li<%if(sidebar == 'zbtj') {%> class="cur"<%}%>><i class="sIco_1"></i><a href="../index/">值班统计</a></li>
    <li<%if(sidebar == 'zbry') {%> class="cur"<%}%>><i class="sIco_2"></i><a href="../users/">值班人员</a></li>
    <li<%if(sidebar == 'fdjr') {%> class="cur"<%}%>><i class="sIco_3"></i><a href="../holiday/">法定假日</a></li>
    <li<%if(sidebar == 'tszb') {%> class="cur"<%}%>><i class="sIco_4"></i><a href="../special/">特殊值班</a></li>
    <li<%if(sidebar == 'zbth') {%> class="cur"<%}%>><i class="sIco_5"></i><a href="../replace/">值班调换</a></li>
</ul>
<p class="createRotaBtn"><a href="../paiban/">生成值班表</a></p>