@charset "utf-8";
* { margin: 0px; padding: 0px; }
html, body { height: 100%; overflow: hidden; }
body { font-family:  "Microsoft YaHei", "微软雅黑", "SimSun", "宋体"; font-size: 12px; color: #000; line-height: 20px; background: #FFF; }
a { color: #000; text-decoration: none; }
a:hover { text-decoration: underline; }
ol, ul, li { list-style-type: none; }
img { border: none; vertical-align: top; }
input, select { outline: none; }

.headBox { background-color: #478FF1; clear: both; width: 100%; height: 50px; overflow: hidden; }
.logo { float: left; margin-left: 40px; }
.userBox { float: right; margin-right: 30px; }
.loginBtn { font-size: 14px; color: #478FF1; line-height: 30px; background-color: #DEF3FE; text-align: center; display: inline-block; width: 55px; height: 30px; margin-top: 10px; cursor: pointer; }

.bodyBox { display: flex; }
.leftBox { border-right: 1px solid #EAEAEA; text-align: center; flex: 1; }
.rightBox { flex: 6; }

.leftBox h2 { font-weight: normal; font-size: 16px; line-height: 60px; border-bottom: 1px solid #EAEAEA; margin-bottom: 40px; position: relative; }
.leftBox h2:before { content: " "; background-color: #FFF; border-top: 1px solid transparent; border-right: 1px solid #EAEAEA; border-bottom: 1px solid #EAEAEA; border-left: 1px solid transparent; width: 10px; height: 10px; margin-left: -5px; overflow: hidden; position: absolute; left: 50%; top: 55px; transform: rotate(45deg); }
.leftBox ul { width: 140px; margin: 0 auto; }
.leftBox ul li { font-size: 14px; line-height: 30px; cursor: pointer; }
.leftBox ul li:hover { background-color: #FFFF00; }
.leftBox .cur { background-color: #FFFF00; }

.toolBox { border-bottom: 1px solid #EAEAEA; clear: both; display: flex; width: 100%; height: 60px; }
.previousBtn { background: url(../../images/content/arr.gif) no-repeat left top; width: 9px; height: 11px; margin: 25px 0 0 25px; cursor: pointer; }
.nextBtn { background: url(../../images/content/arr.gif) no-repeat left top; width: 9px; height: 11px; margin: 25px 0 0 25px; cursor: pointer; transform: rotate(180deg); }
.selectBox { margin: 20px 15px 0 20px; padding-right: 20px; position: relative; }
.selectBox h2 { font-weight: normal; font-size: 18px; cursor: pointer; }
.selectBox h2:before { content: " "; background: url(../../images/content/arr.gif) no-repeat left top; width: 9px; height: 11px; position: absolute; top: 5px; right: 0; transform: rotate(-90deg); }
.backBtn { font-size: 16px; margin-top: 20px; cursor: pointer; }
.loginUser { font-size: 16px; color: #FFF; line-height: 50px; }
.loginUser a { color: #FFF; margin-left: 10px; }

.peekPopup { background-color: #FFF; box-shadow: 0 0 7px 1px rgba(0,0,0,.4); display: none; width: 150px; position: absolute; left: 0; top: 40px; z-index: 9999; }
.peekPopup ul { background-color: #FFF; text-align: center; display: flex; flex-wrap: wrap; align-items: flex-end; position: relative; z-index: 999; }
.peekPopup ul li { line-height: 42px; background-color: #eaeaea; width: 40px; height: 40px; margin: 5px; cursor: pointer; }
.peekPopup .cur, .peekPopup ul li:hover { background-color: #C7E0F4; }
.peekShadowAll { background-color: #FFF; box-shadow: 0 0 7px 1px rgba(0,0,0,.4); width: 20px; height: 20px; overflow: hidden; position: absolute; left: 20px; top: -10px; transform: rotate(45deg); }

.calendarTitle { background-color: #F8F8F8; display: flex; align-items: flex-start; }
.calendarTitle li { font-weight: bold; font-size: 14px; color: #666; line-height: 30px; text-align: center; width: 14.999999%; }
.calendarWrap .t { font-size: 14px; line-height: 40px; text-align: center; }
.calendarBody { display: flex; flex-wrap: wrap; align-items: flex-start; }
.calendarBody li { border-bottom: 1px solid #EAEAEA; border-left: 1px solid #EAEAEA; height: 100px; position: relative; flex: 1; box-sizing: border-box; }
.calendarBody .d { font-size: 20px; color: #666; padding: 10px; }
.calendarBody .n { font-size: 14px; color: #666; position: absolute; top: 10px; left: 60px; }
.calendarBody .u { font-size: 16px; margin-bottom: 10px; padding: 0 10px; }
.calendarBody .u span { padding: 0 5px; }
.calendarBody .cur .d { color: #FFF; background-color: #478FF1; border-radius: 50%; border: 3px solid #478FF1; text-align: center; width: 20px; height: 20px; }
.calendarBody .zhoumo { background-color: #CAECFE; border-left: 1px solid #FFF; border-bottom: 1px solid #FFF; }
.calendarBody .jiejiar { background-color: #9FEBE3; border-left: 1px solid #FFF; border-bottom: 1px solid #FFF; }
.calendarBody .em { background-color: #FFFF00; }
.calendarBody .g { font-size: 12px; color: #468EF1; padding: 0 10px; }
.calendarBody .g span { padding: 0 5px; }